In [1]:
import pandas as pd 
import numpy as np
import os
import pickle

In [2]:
filename = "final_model.sav"

with open(filename, 'rb') as f:
    predict = pickle.load(f)

In [4]:
x=pd.read_csv("pre_processed_data.csv")
x.head()

,Total CGPA,Logical quotient rating,hackathons,coding skills rating,public speaking points,can work long time before system?,self-learning capability?,certifications,reading and writing skills,memory capability score,...,interested career area,Job/Higher Studies?,Type of company want to settle in?,interested in games,Interested Type of Books,Salary Range Expected,Gentle or Tuff behaviour?,Management or Technical,worked in teams ever?,Introvert
0,8.300000,7,5,6,7,yes,yes,machine learning,excellent,medium,...,Business process analyst,higherstudies,Product based,no,Mystery,gentle,Management,salary,smart worker,yes
1,7.966667,4,0,4,8,yes,yes,shell programming,excellent,excellent,...,system developer,higherstudies,Web Services,no,Prayer books,salary,stubborn,Management,yes,no
2,7.355556,7,1,2,3,yes,no,machine learning,poor,medium,...,Business process analyst,job,SAaS services,yes,Childrens,salary,gentle,Technical,no,yes
3,7.944444,1,4,1,3,yes,no,app development,poor,excellent,...,developer,higherstudies,Sales and Marketing,yes,Travel,Work,stubborn,Management,no,yes
4,7.644444,1,1,2,5,no,yes,python,medium,excellent,...,testing,higherstudies,Testing and Maintainance Services,no,Romance,Work,gentle,Management,yes,yes

In [28]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20002 entries, 0 to 20001
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Total CGPA                          20002 non-null  float64
 1   Logical quotient rating             20002 non-null  int64
 2   hackathons                          20002 non-null  int64
 3   coding skills rating                20002 non-null  int64
 4   public speaking points              20002 non-null  int64
 5   can work long time before system?   20002 non-null  object
 6   self-learning capability?           20002 non-null  object
 7   certifications                      20002 non-null  object
 8   reading and writing skills          20002 non-null  object
 9   memory capability score             20002 non-null  object
 10  Interested subjects                 20002 non-null  object
 11  interested career area              20002 non-null  object
 12  Job/Higher Studies?                 20002 non-null  object
 13  Type of company want to settle in?  20002 non-null  object
 14  interested in games                 20002 non-null  object
 15  Interested Type of Books            20002 non-null  object
 16  Salary Range Expected               20002 non-null  object
 17  Gentle or Tuff behaviour?           20002 non-null  object
 18  Management or Technical             20002 non-null  object
 19  worked in teams ever?               20002 non-null  object
 20  Introvert                           20002 non-null  object
dtypes: float64(1), int64(4), object(16)
memory usage: 3.4+ MB

In [5]:
x.loc[-1]=values = [
    8.3,
    7,
    5,      
    6,
    7,
    'yes',
    'yes',
    'machine learning',
    'excellent',
    'medium',
    'Management',
    'Business process analyst',
    'higherstudies',
    'Product based',
    'no',
    'Mystery',
    'gentle',
    'Management',
    'salary',
    'smart worker',
    'yes'
]
x.index=x.index+1
x=x.sort_index()
x.shape

(20002, 21)

In [10]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from scipy import sparse

new_data = OneHotEncoder().fit_transform(x)
new_data = StandardScaler(with_mean=False).fit_transform(new_data)
new_data = sparse.csr_matrix.copy(new_data)
output=predict.predict(new_data[1])
output

array(['Technical Support/Service'], dtype='<U36')

In [12]:
pred_prob=predict.predict_proba(new_data[1])
pred_prob

array([[2.23856909e-05, 1.14294761e-02, 9.25252001e-06, 1.06876010e-04,
        5.12140694e-02, 8.16907954e-11, 2.65516744e-12, 1.30718812e-12,
        9.37096397e-01, 4.60242478e-06, 1.16940788e-04]])

In [ ]:
import json

# Data dictionary
job_categories = {
    "CRM_Managerial_Roles": ['CRM Business Analyst', 'CRM Technical Developer', 'Project Manager', 'Information Technology Manager'],
    "Analyst": ['Business Systems Analyst', 'Business Intelligence Analyst', 'E-Commerce Analyst'],
    "Mobile_Applications_Web_Development": ['Mobile Applications Developer', 'Web Developer', 'Applications Developer'],
    "QA_Testing": ['Software Quality Assurance (QA) / Testing', 'Quality Assurance Associate'],
    "UX_Design": ['UX Designer', 'Design & UX'],
    "Databases": ['Database Developer', 'Database Administrator', 'Database Manager', 'Portal Administrator'],
    "Programming_Systems_Analyst": ['Programmer Analyst', 'Systems Analyst'],
    "Networks_Systems": ['Network Security Administrator', 'Network Security Engineer', 'Network Engineer',
                         'Systems Security Administrator', 'Software Systems Engineer', 'Information Security Analyst'],
    "SE_SDE": ['Software Engineer', 'Software Developer'],
    "Technical_Support_Service": ['Technical Engineer', 'Technical Services/Help Desk/Tech Support', 'Technical Support'],
    "others": ['Solutions Architect', 'Data Architect', 'Information Technology Auditor']
}

# Save to JSON file
with open("job_categories.json", "w") as f:
    json.dump(job_categories, f, indent=4)

In [25]:
import json

with open("job_categories.json", "r") as f:
    job_categories = json.load(f)

# Example usage:
cat = job_categories.get('CRM_Managerial_Roles')
print(cat)

['CRM Business Analyst', 'CRM Technical Developer', 'Project Manager', 'Information Technology Manager']

In [26]:
if output[0] == 'CRM/Managerial Roles':
    cat=CRM_Managerial_Roles
elif output[0] == 'Analyst':
    cat=Analyst
elif output[0] == 'Mobile Applications/ Web Development':
    cat=Mobile_Applications_Web_Development
elif output[0] == 'QA/Testing':
    cat=QA_Testing
elif output[0] == 'UX/Design':
    cat=UX_Design
elif output[0] == 'Databases':
    cat=Databases
elif output[0] == 'Programming/ Systems Analyst':
    cat=Programming_Systems_Analyst
elif output[0] == 'Networks/ Systems':
    cat=Networks_Systems
elif output[0] == 'SE/SDE':
    cat=SE_SDE
elif output[0] == 'Technical Support/Service':
    cat=Technical_Support_Service
else:
    cat=others

In [27]:
print("suggested job role catogory is: '",output[0],"'")
print()
print("possible job roles in the suggested category are:")
for i in cat:
    print(i)

suggested job role catogory is: ' Technical Support/Service '

possible job roles in the suggested category are:
Technical Engineer
Technical Services/Help Desk/Tech Support
Technical Support